<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <div class="row justify-content-evenly m-5 p-5">
      <div class="col-8">
        <img class="img-fluid" src="../../../assets/maquina_grande.png" alt="img-logo"/>
      </div>

      <div class="col-4">
        <p class="voltar mb-5 fs-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="#91C2D8"
            class="bi bi-arrow-left-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
            />
          </svg>
          <a routerLink="/autenticacao/login">Voltar</a>
        </p>
        <h2 class="sub-titulo pb-3">Cadastre-se!</h2>
        <form #formCadastro="ngForm"  class="login mx-3 w-50">
          <div class="form-group" [ngClass]="aplicaCssErro(cpf)">
            <label>CPF</label>
            <input
              name="cpf"
              [(ngModel)]="cliente.cpf"
              type="text"
              class="form-control"
              placeholder="XXX.XXX.XXX-XX"
              appCpfMask
              required
              #cpf="ngModel"
              />
              <div *ngIf="!cpf.valid && cpf.touched"
              class="alert alert-danger" role="alert">
                CPF é Obrigatório.
              </div>
          </div>
          <div class="form-group" [ngClass]="aplicaCssErro(nome)">
            <label>Nome</label>
            <input
              name="nome"
              [(ngModel)]="cliente.nome"
              type="text"
              id="nome"
              class="form-control"
              placeholder="Nome"
              required
              pattern="[a-zA-Z\s]*"
              #nome="ngModel"
              />
              <div *ngIf="!nome.valid && nome.touched"
              class="alert alert-danger" role="alert">
              Nome é Obrigatório e não deve conter caracteres especiais.
              </div>
          </div>
          <div class="form-group" [ngClass]="aplicaCssErro(email)">
            <label>Email</label>
            <input
              name="email"
              [(ngModel)]="cliente.email"
              type="text"
              id="email"
              class="form-control"
              placeholder="exemplo@mail.com"
              required email
              #email="ngModel"
              />
              <div *ngIf="!email.valid && email.touched"
              class="alert alert-danger" role="alert">
                E-mail Inválido.
              </div>
          </div>

          <div class="form-group">
            <label>Telefone</label>
              <input
                type="text"
                [(ngModel)]="cliente.telefone"
                ngModel
                id="telefone"
                name="telefone"
                class="form-control"
                placeholder="+55 (xx) xxxxx-xxxx"
                appPhoneMask
              />
          </div>
          <div class="form-group" [ngClass]="aplicaCssErro(senha)">
            <label>Senha</label>
              <input
                id="senha"
                type="password"
                name="senha"
                [(ngModel)]="cliente.senha"
                class="form-control"
                placeholder="Ex: senha123"
                required
                #senha="ngModel"
                />
                <div *ngIf="!senha.valid && senha.touched"
              class="alert alert-danger" role="alert">
                A senha é Obrigatória.
              </div>
          </div>
          <div class="form-group"
          [ngClass]="aplicaCssErro(confirmacao)">
            <label>Confirmação da Senha</label>
              <input
                type="password"
                id="confirmacao"
                name="confirmacao"
                ngModel
                class="form-control"
                placeholder="Ex: senha123"
                required
                #confirmacao="ngModel"
                />
                <div *ngIf="!confirmacao.valid && confirmacao.touched"
              class="alert alert-danger" role="alert">
                A Confirmação da senha é Obrigatória.
              </div>
          </div>
          <div class="form-group mb-3">
            <label for="dataDeNasc">Data de nascimento:</label>
            <input type="date" class="form-control" id="dataDeNasc" name="dataDeNasc"
            [(ngModel)]="cliente.dataDeNasc" #dataDeNasc="ngModel" required>
        </div>
        <form #enderecoForm="ngForm">
            <div class="form-group" >
              <label>CEP</label>
              <input
                type="text"

                [(ngModel)]="cliente?.endereco.cep"
                ngModel
                class="form-control"
                id="cep"
                name="cep"
                placeholder="00000-000"
                required
                #cepInput="ngModel"
                (blur)="consultaCEP($any($event.target).value, enderecoForm)"
                />
                <div *ngIf="!cepInput.valid && cepInput.touched"
                class="alert alert-danger" role="alert">
                  CEP é Obrigatório.
                </div>
            </div>
            <div class="form-group">
              <label>Rua:</label>
                  <input
                    class="form-control"
                    name="rua"
                    [(ngModel)]="cliente?.endereco.rua"
                    ngModel
                    type="text"
                    id="rua"
                    placeholder="Ex: Rua XV de Novembro"
                    />
            </div>
            <div class="form-group">
              <label>Bairro:</label>
                <input
                  name="bairro"
                  [(ngModel)]="cliente?.endereco.bairro"
                  ngModel
                  class="form-control"
                  type="text"
                  id="bairro"
                  placeholder="Ex: Boqueirão" />
            </div>
            <div class="form-group">
              <label>Cidade:</label>
              <input
                name="cidade"
                [(ngModel)]="cliente?.endereco.cidade"
                ngModel
                class="form-control"
                type="text"
                id="cidade"
                placeholder="Ex: Curitiba"
                />
            </div>

            <div class="form-group">
              <label>Estado:</label>
                <input
                  name="uf"
                  [(ngModel)]="cliente?.endereco.estado"
                  ngModel
                  class="form-control"
                  type="text"
                  id="uf"
                  placeholder="Ex: PR"
                  />
            </div>
            </form>
          <button type="submit" class="btn btn-cadastro col-12"
          [disabled]="!formCadastro.valid"
          (click)="cadastrarCliente()"> Cadastro
          </button>
        </form>
        <div class="mt-2 btn-login text-center">
          <a routerLink="/autenticacao/login">Já é cadastrado? Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
