body {
	font-family: Helvetica, sans-serif;
}

.titulo-tela{
    color: #CF8DA7; 
    font-weight: bold;
}

.a {
    text-align: center;
    width: 8vw;
}

.bold-text {
    font-weight: bold;
}

.status {
    width: 8vw;
}

.btn {
    width: 8vw;

}