<body>
    <h1 class="text-center titulo-tela my-5">Manutenção de Peças de Roupa</h1>
    <table class="table table-bordered table-hover mx-auto" style="width: 70vw;">
        <tbody class="">
            <tr class="text-center">
                <th>Peça de Roupa</th>
                 <th>Valor Unitário</th>
                 <th>Prazo de Entrega</th>
                 <th class="text-center">
                      <a [routerLink]="['/funcionario/inserirManutencao']"
                        href="#" title="Novo" alt="Novo" class="btn btn-novo">
                        <i class="fa fa-plus" aria-hidden="true"></i> Novo
                    </a>
                </th>
            </tr>
            <tr *ngFor="let manutencao of manutencao" class="text-center">

                <td>{{manutencao.peca}} </td>
                <td>{{manutencao.preco}} </td>
                <td>{{manutencao.prazo}}</td>
                <td class="text-center" style="width: 300px">
                    <a [routerLink]="['/funcionario/editarManutencao', manutencao.id]" href="#" title="Editar" alt="Editar" class="btn btn-editar me-1">
                        <i class="fa fa-edit" aria-hidden="true"></i> Editar
                    </a>
                    <a href="#" title="Remover" alt="Remover" class="btn btn-remover"
                    data-bs-toggle="modal"
                    data-bs-target="#modalRemover">
                        <i class="fa fa-times" aria-hidden="true"></i> Remover
                    </a>
                    <div class="modal fade" id="modalRemover">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5">Confirmar remoção</h1>
                                <button type="button" class="btn-close"></button>
                                </div>
                                <div class="modal-body">
                                Proibida a remoção da peça de roupa <b>{{manutencao.peca}}</b>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                >Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    <p *ngIf="manutencao.length==0" class="text-center">Nenhuma Peça Cadastrada.</p>
</body>
