<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tela - Aprovação de Orçamento/Pedido</title>
  </head>
  <body>

    <div class="invoice">
      <div class="invoice-header">
        <h1>Aprovação de Orçamento/Pedido</h1>
        <img src="../assets/amaciante.png" alt="Logo" id="img-logo">
      </div>
      <div class="invoice-details">
        <p>Número do Pedido: 12345</p>
        <p>Data prevista de entrega: 12 de Agosto, 2023</p>
        <p>Cliente: Flavin do Pneu</p>
      </div>
      <ul class="listas"> 
        <li> 
          <strong>Item:</strong> 1<br> 
          <strong>Descrição:</strong> Product A<br> 
          <strong>Quantidade:</strong> 2<br> 
          <strong>Preço:</strong> R$10.00<br>  
        </li> 
        <li> 
          <strong>Item:</strong> 2<br> 
          <strong>Descrição:</strong> Product B<br> 
          <strong>Quantidade:</strong> 1<br> 
          <strong>Preço:</strong> R$15.00<br> 
          <strong>Total:</strong> R$15.00 
        </li>
      </ul>
      <div class="invoice-total">
        <p>Total: R$35.00</p>
      </div>
      <div class="approval-buttons">
        <button class="btn btn-success">Aprovar</button>
        <button class="btn btn-danger">Rejeitar</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
