<table id="conteudo-para-pdf" class="table table-bordered">
    <thead>
      <tr>
        <th>RECEITAAAAA</th>
        <th>Lastname</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>nhooooooooooooo</td>
        <td>Savani</td>
        <td>itsolutionstuff.com</td>
      </tr>
      <tr>
        <td>aaaaaaaaaaaaaaa</td>
        <td>Kashiyani</td>
        <td>hdtuto.com</td>
      </tr>
      <tr>
        <td>Harshad</td>
        <td>Pathak</td>
        <td>nicesnippets.com</td>
      </tr>
    </tbody>
  </table>

