<div class="text-center">
  <h1 class="titulo-tela my-5">Relatorio de receitas</h1>
</div>

<div class="row mx-5 px-5 justify-content-center">
  <table id="conteudo-para-pdf" class="table table-bordered">
    <thead class="table-giu">
      <tr>
        <th>Data do pedido</th>
        <th>Cliente</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>21/12/2020</td>
        <td>Jao</td>
        <td>R$13.789,21</td>
        
      </tr>
      <tr>
        <td>01/11/2009</td>
        <td>Kelvin</td>
        <td>R$2,93</td>
      </tr>
      <tr>
        <td>13/09/2023</td>
        <td>Arquebispo</td>
        <td>R$19,78</td>
      </tr>
    </tbody>
  </table>
</div>