<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Pedido</title>
</head>
<body>
  <div class="content mt-5 pt-5">
    <div class="text-center">
        <h2 class="tituloPagina mx-5 fw-semibold">Finalizar pedido</h2>
        <p class="mx-5">Confirme abaixo para finalizar o pedido #1234:</p>
        <a onclick="alert('ok')" href="./funcionario/inicialFuncionario" class="btn btn-baixo mx-2">Confirmar</a>
        <a href="./funcionario/confirmacaoRecolhimento" type="submit" class="btn btn-secondary mx-2">Cancelar</a>
    </div>
        
    <div class="d-flex justify-content-center mt-4">
      </div>
  </div>
</body>
</html>
