<h1 class="titulo">Novo Funcionário</h1>
<div class="well">
    <form>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" minlength="2" required>
            <div class="alert alert-danger">
                <div> Digite o nome da pessoa. </div>
                <div> O nome deve conter ao menos 2 caracteres. </div>
            </div>
        </div>

        <div class="form-group">
            <label for="idade">Email:</label>
            <input type="text" class="form-control" id="idade" name="idade" required>
            <div class="alert alert-danger">
                <div> Digite um email válido para o funcionário </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="idade">Data de nascimento:</label>
            <input type="text" class="form-control" id="idade" name="idade" required>
            <div class="alert alert-danger">
                <div> LEMBRAR DE INSERIR A PORRA DE UM CALENDARIO </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="idade">Senha:</label>
            <input type="text" class="form-control" id="idade" name="idade" required>
            <div class="alert alert-danger">
                <div> Digite uma senha 0.0 </div>
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i> Salvar
            </button>
            <a class="btn btn-secondary">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
            </a>
        </div>
    </form>
</div>