<div  class="conteiner-fluid">
  <nav *ngIf="componenteAtivo !== 'login' && componenteAtivo !== 'cadastro' && componenteAtivo !== 'inicialFuncionario' && componenteAtivo !== 'confirmacaoRecolhimento' && componenteAtivo !== 'listarPedidos'" class="navbar navbar-expand-lg bg-body-tertiary p-0">

    <div class="container-fluid ms-5 p-0">
      <a class="navbar-brand m-0 p-0"><img height="64" width="64" src="../assets/maquina.png"></a>

      <ul class="navbar-nav nav-underline">
        <li class="nav-item mx-5">
        <a href="cliente.html" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item mx-5">
        <a href="pedidoscliente.html" class="nav-link">Pedidos online</a>
        </li>
        <li class="nav-item mx-5">
        <a href="listaPedidos.html" class="nav-link">Meus pedidos</a>
        </li>
        <li class="nav-item mx-5">
        <a href="consultarpedido.html" class="nav-link active">Consultar pedido</a>
        </li>
      </ul>

      <form class="d-flex justify-content-end" role="search" style="background: #CF8DA7; border-top-left-radius: 20px; border-bottom-left-radius: 20px">
        <img class="ms-3 p-2" height="64" width="64" src="../assets/amaciante.png">
        <div class="input-group p-3 me-3 text-center">
    <a class="fs-4 text-light" href="./login.html">Login</a>
        </div>
      </form>

    </div>
  </nav>
  <nav *ngIf="componenteAtivo == 'inicialFuncionario' || componenteAtivo == 'confirmacaoRecolhimento' || componenteAtivo == 'listarPedidos' " class="navbar navbar-expand-lg bg-body-tertiary p-0">

    <div class="container-fluid ms-5 p-0"> 
      <a class="navbar-brand m-0 p-0"><img height="64" width="64" src="../assets/maquina.png"></a>

      <ul class="navbar-nav nav-underline">
        <li class="nav-item mx-5">
          <a routerLink="/funcionario/inicialFuncionario" class="nav-link" [class.active]="componenteAtivo === 'inicialFuncionario'">Inicio</a>

        </li>
        <li class="nav-item mx-5">
          <a routerLink="/funcionario/listarPedidos" class="nav-link" [class.active]="componenteAtivo === 'listarPedidos'">Meus pedidos</a>

        </li>
        <li class="nav-item mx-5">
          <a class="nav-link" [class.active]="componenteAtivo === 'confirmacaoRecolhimento'">Recolher Pedido</a>

        </li>
      </ul>

      <form class="d-flex justify-content-end" role="search" style="background: #91C2D8; border-top-left-radius: 20px; border-bottom-left-radius: 20px">
        <img class="ms-3 p-2" height="64" width="64" src="../assets/amaciante.png">
        <div class="input-group p-3 me-3 text-center">
    <a class="fs-4 text-light" href="./login.html">Funcionario</a>
        </div>
      </form>

    </div>
  </nav>
  <router-outlet></router-outlet>
  </div>