<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      scr = "../node_modules/jspdf/dist/jspdf.min.js";
    </script>
    <link
      rel="stylesheet"
      href="/src/app/relatorio/selecionar-relatorio/selecionar-relatorio.component.css"
    />
    <title>Gerar Relatorio</title>
  </head>

  <body>
    <div class="cont frame">
      <h1>Selecione o tipo de Relatorio:</h1>
      <button type="submit" class="btn btn-baixo col-2 btn-3" (click)="gerarRelatorio('clientes')">
        <span>Gerar PDF Clientes</span>
      </button>
      <button type="submit" class="btn btn-baixo col-2 btn-3" (click)="gerarRelatorio('receitas')">
        <span>Gerar PDF Receitas</span>
      </button>
      <button type="submit" class="btn btn-baixo col-2 btn-3" (click)="gerarRelatorio('clientesFieis')">
        <span>Gerar PDF Clientes Fieis</span>
      </button>
      <button routerLink="/cliente/inicialCliente" class="btn btn-baixo col-2 btn-3">
      <span>Voltar</span>
    </button>
    </div>
  </body>
</html>
