<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      scr = "../node_modules/jspdf/dist/jspdf.min.js";
    </script>
    <link
      rel="stylesheet"
      href="/src/app/relatorio/selecionar-relatorio/selecionar-relatorio.component.css"
    />
    <title>Gerar Relatorio</title>
  </head>

  <body>
    <div class="cont">
      <h1>Selecione o tipo de Relatorio:</h1>
      <button type="submit" class="btn btn-baixo col-2" (click)="generatePDF()">
        Gerar PDF Clientes
      </button>
      <button type="submit" class="btn btn-baixo col-2" (click)="generatePDF()">
        Gerar PDF Pedidos
      </button>
      <button type="submit" class="btn btn-baixo col-2" (click)="generatePDF()">
        Gerar PDF Receitas
      </button>
    </div>
  </body>
</html>
