<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pedidos do Cliente</title>
  </head>
  <body>

    <div class="text-center" id="produtos">
        <h1 class="titulo-tela my-5">Novo Pedido</h1>

        <div class="row pedido justify-content-evenly">
          <table  class="table table-bordered table-sm w-50" id="tabela">
            <thead>
              <th class="w-50">Roupa</th>
              <th class="w-25">Preço unitário</th>
              <th class="w-25">Quantidade</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of pedido.itens">
                <td>{{ item.roupa?.peca }}</td>
                <td> {{item.roupa?.preco | currency:'BRL':'symbol':'1.2-2'}} </td>
                <td>
                  <button class="btn btn-giu item text-center align-middle m-1" (click)="decrementarQuantidade(item)">-</button>
                      {{ item.quantidade }}
                  <button class="btn btn-giu item text-center align-middle m-1" (click)="incrementarQuantidade(item)">+</button>
                  <svg (click)="removerItem(item)" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="35" height="auto" class="btn-remove trash m-1" fill="white">
                  <path d="M21,4H17.9A5.009,5.009,0,0,0,13,0H11A5.009,5.009,0,0,0,6.1,4H3A1,1,0,0,0,3,6H4V19a5.006,5.006,0,0,0,5,5h6a5.006,5.006,0,0,0,5-5V6h1a1,1,0,0,0,0-2ZM11,2h2a3.006,3.006,0,0,1,2.829,2H8.171A3.006,3.006,0,0,1,11,2Zm7,17a3,3,0,0,1-3,3H9a3,3,0,0,1-3-3V6H18Z"/><path d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18Z"/><path d="M14,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z"/></svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="row mx-5 px-5 justify-content-center">

      <div  class="px-5 mx-5 btn-group w-50 mb-3">
        <select class="form-control" id="selecionarOpcao" placeholder="Adicionar uma peça..." #selecionarOpcao>
          <option *ngFor="let manutencao of manutencao">{{manutencao.peca}}</option>

        </select>
        <button class="btn btn-giu" (click)="adicionarItem()">+</button>
      </div>

      <form class="row mx-5 w-50">
        <div class="form-group col-6">
          <label for="exampleInputName2">Orçamento</label>
          <p type="text" class="form-control">R$ {{somarTotal() | number:'1.2-2'}}</p>
        </div>
        <div class="form-group col-6">
          <label for="exampleInputEmail2">Prazo</label>

          <p type="text" class="form-control"> {{calculaDataSomada()}}</p>


        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-md-3">
              <button type="button" class="btn btn-giu col-12" (click)="confirmarPedido()">Confirmar</button>
          </div>
          <div class="col-md-3 offset-md-2">
              <button type="button" class="btn btn-giu w-100" [routerLink]="['/cliente/inicialCliente']">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
