body {
	font-family: Helvetica, sans-serif;
}

.titulo-tela{
  color: #CF8DA7; 
  font-weight: bold;
}

.pedido{
  color: black;
}

.btn-recolhe {
  color: white !important;
  background-color: #857DC4 !important;
  border: #91C2D8 !important;
}