<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script> scr="../node_modules/jspdf/dist/jspdf.min.js" </script>
    <link rel="stylesheet" href="/src/app/relatorio/relatorio-receitas/relatorio-receitas.component.css">
    <title>Gerar Relatorio</title>

  </head>

    <body>
        <div class="cont">
            <h1>Relatorio das Receitas:</h1>
            <button type="submit" 
                    class="btn btn-baixo col-2" 
                    (click)="generatePDF()">Gerar PDF</button>
        </div> 
    </body>
</html> 