<body>
    <h1 class="text-center titulo-tela my-5">Listagem de Funcionários</h1>
    <table class="table table-bordered table-hover mx-auto" style="width: 70vw;">
        <tbody>
            <tr class="text-center">
                <th>Nome</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
                <th class="text-center">
                    <a [routerLink]="['/funcionario/novoFuncionario']"
                    href="#" title="Novo" alt="Novo" class="btn-novo btn">
                        <i class="fa fa-plus" aria-hidden="true"></i> Novo
                    </a>
                </th>
            </tr>
            <tr *ngFor="let funcionario of funcionarios" class="text-center">
                <td>{{funcionario.nome}} </td>
                <td>{{funcionario.email}}</td>
                <td>{{funcionario.dataDeNasc | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center" style="width: 460px">
                    <a [routerLink]="['/funcionario/editarFuncionario', funcionario.id]" href="#" title="Editar" alt="Editar" class="btn-editar btn me-1">
                        <i class="fa fa-edit" aria-hidden="true"></i> Editar
                    </a>
                    <a href="#" title="Remover" alt="Remover" class="btn-remover btn"
                    data-bs-toggle="modal"
                    data-bs-target="#modalRemover">
                        <i class="fa fa-times" aria-hidden="true"></i> Remover
                    </a>
                    <div class="modal fade" id="modalRemover">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5">Confirmar remoção</h1>
                                <button type="button" class="btn-close"></button>
                                </div>
                                <div class="modal-body">
                                Confirme a remoção do funcionário <b>{{funcionario.nome}}</b>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                (click)="remover($event, funcionario)">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <p *ngIf="funcionarios.length==0">Nenhum funcionario cadastrado.</p>

</body>