.titulo{
    color: #CF8DA7; 
    font-weight: bold;
    align-self: center; 
}

.atualiza{
 background-color: #857DC4 ;   
}

.voltar{
background-color: #91C2D8;
}

.form-group{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    width: 60%;
}

