<div class="text-center">
  <h1 class="titulo-tela my-5">Relatorio de clientes</h1>
</div>

<div class="row mx-5 px-5 justify-content-center">
  <table id="conteudo-para-pdf" class="table table-bordered">
    <thead class="table-giu">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
        <th>Data de Nascimento</th>
        <th>CEP</th>
        <th>Rua</th>
        <th>Bairro</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes; let i = index; " class="text-center">
        <ng-container *ngIf="cliente.perfil === 'CLIENTE'">
          <td>{{cliente.nome}}</td>
          <td>{{cliente.cpf}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.dataDeNasc | date: 'dd/MM/YYY'}}</td>
          <td>{{cliente.endereco?.cep}}</td>
          <td>{{cliente.endereco?.rua}}</td>
          <td>{{cliente.endereco?.bairro}}</td>
          <td>{{cliente.telefone}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
