.numPedido{
    color: #CF8DA7;
    font-weight: bold;
}
.subTitulo{
    color: #857DC4;
    font-weight: bold;
    text-align: center;
}

.tituloPagina{
    color:#857DC4;
}

.pesquisa{
    background-color: #CF8DA7;
}

.subTitulo{
    color: #857DC4;
    font-weight: bold;
    text-align: center;
}


body {
	font-family: Helvetica, sans-serif;
}

.titulo-tela{
    color: #CF8DA7; 
    font-weight: bold;
}

.btn-baixo{
    color: white !important;
    background-color: #857DC4 !important;
    border: #91C2D8 !important;
}

.tabela{
	--bs-table-bg: #F6F1F1 !important;
}

.border-tabela {
	border-color: white !important;
}